.button {
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border: none;
    border-radius: 12px;
}

.one {
    color: white;
    background-color: #371414;
}

.two {
    color: white;
    background-color: #615ddf;
}

.three {
    color: white;
    background-color: #62bd82;
}

.small {
    font-size: 14px;
    padding: 0.25rem 0.75rem;
}

.medium {
    font-size: 16px;
    padding: 0.5rem 1rem;
}

.large {
    font-size: 18px;
    padding: 0.75rem 1.25rem;
}

