.header {
    grid-area: h;
    background-color: burlywood;
    display: flex;
    align-items: center;
    padding: 20px;
}

.headerAvatar {
    width: 70px;
    border-radius: 20px;
    display: block;
}

.loginBlock{
    margin-left: auto;
    color: #510909;
    font-size: 25px;
    font-weight: bold;
}

.loginButton{
    border-radius: 50px;
}