.nav {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: burlywood;
    grid-area: n;
    gap: 10px;
}

.menu {
    font-size: 30px;
    font-weight: bold;
    color: #45321f;
}

.activeLink {
    font-size: 30px;
    font-weight: bold;
    color: yellow;
}
