.pagination {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 8px;
}

.page {
    padding: 6px 12px;
    cursor: pointer;
    transition: 0.2s;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.page:hover {
    background-color: #f0f0f0;
}

.selectedPage {
    color: white;
    border-color: #c26565;
    background-color: #c26565;
}

.navButton {
    padding: 6px 12px;
    cursor: pointer;
    transition: 0.2s;
    border: none;
    border-radius: 6px;
    background-color: #eee;
}

.navButton:hover:not(:disabled) {
    background-color: #ddd;
}

.navButton:disabled {
    cursor: default;
    opacity: 0.5
}