body {
    align-items: center;
    justify-content: center;
    /*height: 100vh;*/
    /*display: flex;*/
    margin: 0;
    padding: 0;
    background-color: #272525; /* фон страницы */
}

.app-wrapper {
    display: grid;
    width: 1400px;
    margin: 0 auto;

    background-color: burlywood;
    grid-template-areas:
  'h h'
  'n c';
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    color: #45321f;
    background-color: burlywood;
    grid-area: c;
}

/* ОБЩЕЕ */
a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.contentImg {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0 0 20px 0;
    border-radius: 3%;
}

.kart {
    width: 160px;
    border-radius: 15px;
}
