.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem .active {
    color: #c26565;
}

.messages {
    padding: 10px;
}

.textarea {
    color: black;
    border-radius: 15px;
    background-color: #d8d5cc;
}

.post {
    margin-top: 30px;
}